<head>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="addCollab">
        <h1 style="padding-top: 100px; padding-bottom: 30px; text-align: center">Add Collaborator to
            <i>{{project.name}}</i></h1>
    </div>
    <main class="structure-body">
        <form class="form-structure" action="/project_board/{{project.id}}/add_collaborator" method="POST">
            <label for="collaborators">Choose collaborators:</label>
            <div>
            <select name="collaborators" id="collaborators" multiple>
                {{#each users}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
            </div> 
            <br>
            <button type="submit">Submit</button>
            <a href="/project_board/{{project.id}}"><button>Cancel</button></a>
        </form>
    </main>
    <div style="text-align: center; padding-top: 30px">
    <p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
    </div>
</body>