<head>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <h1 style="padding-top: 100px; padding-bottom: 30px; text-align: center">Add Task in <i>{{project.name}}</i></h1>
    </div>
    <main class="structure-body">
        <form class="form-structure" action='/project_board/{{project.id}}/add_task' method="POST">
            <label>Task Name/Description</label>
            <input name="name" type="text" placeholder="description" maxlength="200" minlength="3"/>
            <input name="ProjectId" type="hidden" value="{{project.id}}" />
            <label for="assignee">Assignee</label>
            <select name="assignee" id="assignee">
                <option value="unassigned">unassigned</option>
                {{#each users}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
            <br>
            <button>Add task</button>
            <a href="/project_board/{{project.id}}"><button>Cancel</button></a>
        </form>
    </main>
</body>