<head>
    <style>
        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }
    </style>
</head>

<body>
    <main>
        <div>
            <h1 style="padding-top: 100px;">Add Collaborator to {{project.name}}</h1>
        </div>
        <main>
            <form action="/project_board/{{project.id}}/add_collaborator" method="POST">
                <label for="collaborators">Choose collaborators:</label>
                <select name="collaborators" id="collaborators" multiple>
                    {{#each users}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <br>
                <input type="submit" value="Submit">
            </form>
            <p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
            <a href="/project_board/{{project.id}}"><button>Cancel</button></a>
        </main>
</body>