<head>
    <style>
        label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }
    </style>
</head>

<body>
    <main>
    <div>
        <h1>Add Task to {{project.name}}</h1>
    </div>
    <form class="project_board" action='/project_board/{{project.id}}/add_task' method="POST">
        <label>Task Name/Description</label>
        <input name="name" type="text" placeholder="description" maxlength="200" minlength="3" required/>
        <input name="ProjectId" type="hidden" value="{{project.id}}" />
        <label for="assignee">Assignee</label>
        <select name="assignee" id="assignee">
            <option value="unassigned">unassigned</option>
            {{#each users}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <br>
        <button>Add task</button>
        <a href="/project_board/{{project.id}}"><button>Cancel</button></a>
    </form>
</main>
</body>
