<head>
    <style>
        label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }
    </style>
</head>

<body>
    <main>
    <div>
        <h1 style="padding-top: 100px;">Edit Task in {{project.name}}</h1>
    </div>
    <form action="/project_board/{{project.id}}/edit_task/{{task.id}}" method="POST">
        <label>New name</label>
        <input name="name" type="text" value="{{task.name}}" required/>
        <br>
        <label for="assignee">New assignee</label>
        <select name="assignee" id="assignee">
            {{!-- <option value="{{task.assignee}}">{{task.assignee}}</option> --}}
            <option value="unassigned">unassigned</option>
            {{#each users}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <br>
        <button>Edit task</button>
        <a href="/project_board/{{project.id}}"><button>Cancel</button></a>
    </form>
</body>
